<h1>Inventory</h1>

<a href="/music-store/new">Add Album</a>

<p>
  
  <% for album in @all_albums %>
      <% @album = album %>
      <p>
        Title: <%= album.title %>
      </p>
      <p>
        Quantity: <%= album.quantity %>
      </p>
      <p>
        Stock Level: 

        <% if album.quantity.to_i <= 5 %>
          <%= "LOW" %>
        <% elsif album.quantity.to_i > 5 && album.quantity.to_i < 10 %>
          <%= "Medium" %>
        <% else %>
          <%= "High" %>
        <% end %>
        
      </p>

      <p>
<!-- 
        <a href="some_page">This is a regular link</a>
 -->
        
        <form method="POST" action="/music-store/<%= @album.id %>/delete">
          <input type="submit" value="Delete" />
        </form>

      </p>

    <hr />
  <% end %>

</p>