<h1>Inventory</h1>

<p>
  
  <% for album in @all_albums %>
      <p>
        Title: <%= album.title %>
      </p>
      <p>
        Quantity: <%= album.quantity %>
      </p>
      <p>
        Stock: 

        <% if album.quantity.to_i <= 5 %>
          <%= "LOW" %>
        <% elsif album.quantity.to_i > 5 && album.quantity.to_i < 10 %>
          <%= "Medium" %>
        <% else %>
          <%= "High" %>

        <% end %>
        
      </p>
    <hr />
  <% end %>

</p>