<h1>Inventory</h1>

<a href="/music-store/new">Add Album</a>

<p>
  
  <% for album in @all_albums %>
      <% @album = album %>
      <p>
        Title: <%= album.title %>
      </p>
      <p>
        Quantity: <%= album.quantity %>
      </p>
      <p>
        Stock Level: 

        <% if album.quantity.to_i <= 5 %>
          <%= "LOW" %>
        <% elsif album.quantity.to_i > 5 && album.quantity.to_i < 10 %>
          <%= "Medium" %>
        <% else %>
          <%= "High" %>
        <% end %>
        
      </p>

      <p>

        
        <a href="/music-store/<%= @album.id %>/delete">Delete Album</a>
        

      </p>

    <hr />
  <% end %>

</p>